
.content{
    background:url(../images/banner.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.row input {
    width: 82%;
}
.row button {
    width: 15%;
}
.card {
    height: 500px;
}
.cardbody {
    text-align: center;
}
.cardbody h5 {
    text-align: start;
    margin: 20px;
}
footer {
    background-color: #151414;
}
footer .row input {
   width: 70%;
}
footer .row button {
    width: 25%;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
}